<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'payment')}">

<body>
  <CEnter><div class="col-12">
    <p>&nbsp;</p>         
  </div></CEnter>
  <CEnter><div class="col-12">
    <p>&nbsp;</p>         
  </div></CEnter>
    <div class="modal-dialog">

        <div class="modal-content">
          <div class="col-sm-12 mt-5">
           
            <div class="card-img-actions">
              <center><img class="img-responsive"  src="../static/images/tarjetas.jpg" th:src="@{/images/tarjetas.jpg}"width="100%" height="100%"></center>
            </div>
            <center><form th:object="${pago}" th:action="@{/pago/create}" method="post">
              <div class="form-group row">
                <input type="hidden" th:field="*{clienteId}"/>
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                  <label for="nombreTarjeta">Nombre</label>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                  <input type="text" class="form-control" th:field="*{nombreTarjeta}" readonly />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                  <label for="numeroTarjeta">Numero Tarjeta</label>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                  <input type="text" class="form-control" required th:field="*{numeroTarjeta}" data-inputmask="'mask': '9999-9999-9999-9999'" />
                </div>
              </div>              
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                  <label for="dueDateYYMM">Vencimiento</label>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                  <input type="text" class="form-control" required data-inputmask="'mask': '99/99', 'placeholder': 'yy/mm'" th:field="*{dueDateYYMM}" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                  <label for="cvv">CVV</label>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                  <input type="text" class="form-control" required th:field="*{cvv}" data-inputmask="'mask': '999', 'placeholder': '999'"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                  <label for="cvv">montoTotal</label>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                  <input type="text" class="form-control" th:field="*{montoTotal}" readonly id="currency" data-thousands="," data-decimal="." />
                </div>
              </div>  
              <div class="form-group row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                  <button th:with="text='Pagar'" class="btn btn-warning btn-lg" type="submit" th:text="${text}"/>
                </div>
              </div>
              
            </form></center>
            <p th:text="${mensaje}" />
          </div>
        </div>
      </div>
    
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
      <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    
      <script th:src="@{/webjars/jquery-maskmonet/dist/jquery.maskMoney.min.js}"></script>    

      <script>
        $('.input-group.date').datepicker({
          autoclose: true,
          todayHighlight: true
        });
      </script>
      <script>
        $(":input").inputmask();
      </script>
      <script>
        $(function() {
          $('#currency').maskMoney();
        })
      </script>
</body>

</html>