<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'detalle')}">

<head>
  <title>Pedido</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
 
  <div class="modal-dialog">
    <div class="row">
      <div class="col-lg-10 mt-5 mb-5">
        <center><h2 class="text-white">Detalle Pedido</h2></center>
        
        <center><table id="example" class="table table-bordered table-striped table-responsive table-light" style="width: 100%">
          <thead class="thead-dark">
            <tr>
              <th class="text-center">Id</th>
              <th class="text-center">Producto</th>
              <th class="text-center">Precio</th>
              <th class="text-center">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="detalle : ${detalles}">
                <td align="center" th:text="${detalle.id}"></td>
                <td align="center" th:text="${detalle.product.nombre}"></td>
                <td align="center" th:text="${detalle.precio}"></td>
                <td align="center" th:text="${detalle.cantidad}"></td>
            </tr>
          </tbody>
        </table></center>
        <p th:text="${mensaje}" />
      </div>
    </div>
  </div>


</body>

</html>