<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'pedido')}">

<head>
  <title>Pedido</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
 
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mt-5 mb-5">
        <center><h2>Pedido</h2><br/></center>
        <CEnter><div class="col-12">
          <p>&nbsp;</p>         
        </div></CEnter> 
        <table id="example" class="table table-bordered table-striped table-responsive table-light" style="width: 100%">
          <thead class="thead-dark">
            <tr>
            <center><th>Detalle</th></center>
            <center><th>Id</th></center>
            <center><th>Fecha</th></center>
            <center><th>Total</th></center>
            </tr>
          </thead>
          <tbody>
            <tr th:each="pedido : ${pedidos}">
                <td>
                  <a th:href="@{'/pedido/view/__${pedido.id}__'}"
                     class="btn btn-info" role="button">Ver</a>
                </td>
                <td th:text="${pedido.id}"></td>
                <td th:text="${pedido.orderDate}"></td>
                <td th:text="${pedido.montoTotal}"></td>
            </tr>
          </tbody>
        </table>
        <p th:text="${mensaje}" />
      </div>
    </div>
  </div>


</body>

</html>