<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'producto')}">

<body>  
      <div class="modal-dialog">
        <div class="modal-content">
          <div  class="col-sm-12 mt-5">
        <!--<div class="row">
          <div class="col-sm-10 mt-5">
            <div class="form-group row">
              <h1>Producto</h1>
            </div>-->
            <div class="h3">Registrar Producto</div>
            <div class="col-sm-2"></div>
            <form th:object="${producto}" th:action="@{/producto/create}" method="post">
              <div class="form-group row">
                <div class="col-md-6 mt-md-0 mt-3">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" required th:field="*{nombre}" />
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                  <label for="modelo">Modelo</label>
                  <input type="text" class="form-control" required th:field="*{modelo}" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 mt-md-0 mt-3">
                  <label for="categoria">Categoria</label>              
                  <select id="categoria" placeholder="Categoría" autocomplete="off" class="form-control" th:field="*{categoria}" />
                  <option value="-">Ninguno</option>
                    <option value="Monitor">Monitor</option>
                    <option value="Teclado">Teclado</option>
                    <option value="Mouse">Mouse</option>
                    <option value="Auricular">Auricular</option>
                    <option value="CPU">CPU</option>
                    <option value="Procesador">Procesador</option>
                    <option value="Placa">Placa Madre</option>
                    <option value="Tarjeta">Tarjeta de Video</option>
                    <option value="Memoria">Memoria RAM</option>
                  </select>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                  <label for="precio">Precio</label>
                  <input type="text" class="form-control" required th:field="*{Precio}" />
                </div>
              </div>
              <!--<div class="form-group row">
                <div class="col-sm-2">
                  <label for="dueDate">Caducidad</label>
                </div>
                <div class="col-sm-3">
                  <div class="input-group date">
                    <input type="text" class="form-control" id="dueDate" 
                      data-inputmask="'alias': 'datetime', 'inputFormat': 'dd/mm/yyyy'" 
                      autocomplete="off" th:field="*{dueDate}" />
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                  </div>
                </div>
              </div>     <form method="post" enctype="multipart/form-data" target="_blank"></form>-->
              
              <div class="form-group row">
                <div class="col-md-10 mt-md-0 mt-3">
                  <label for="image" class="form-label">Imagen</label>                 
                  <input value="image" id="image" class="form-control" autocomplete="off" type="file" required th:field="*{image}" />
                </div>
              </div> 
            
              <center>           
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-md-6 mt-md-0 mt-3">
                  <button th:with="text='Añadir Producto'" class="btn btn-warning" type="submit" th:text="${text}"/>
                </div>
              </div></center> 
            </form>
            <p th:text="${mensaje}" />
          </div>
        </div>
      </div>
    
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
      <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    
  
      <script>
        $('.input-group.date').datepicker({
          autoclose: true,
          todayHighlight: true
        });
      </script>
      <script>
        $(":input").inputmask();
      </script>
</body>

</html>

