<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'producto')}">

<body>
 
  <div class="modal-dialog">
    <div class="modal-content">
      <div  class="col-sm-12 mt-5">
        <div class="h3">Modificar Producto</div>
        <div class="col-sm-2"></div>
            <form th:object="${producto}" th:action="@{/producto/edit}" method="post">

              <input type="hidden" th:field="*{id}"/>

              <div class="form-group row">
                <div class="col-md-6 mt-md-0 mt-3">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" required th:field="*{nombre}" />
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                  <label for="modelo">Modelo</label>
                  <input type="text" class="form-control" required th:field="*{modelo}" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 mt-md-0 mt-3">
                  <label for="categoria">Categoria</label>              
                  <select id="categoria" placeholder="Categoría" autocomplete="off" class="form-control" th:field="*{categoria}">
                  <option value="-">Ninguno</option>
                    <option value="Monitor">Monitor</option>
                    <option value="Teclado">Teclado</option>
                    <option value="Mouse">Mouse</option>
                    <option value="Auricular">Auricular</option>
                    <option value="CPU">CPU</option>
                    <option value="Procesador">Procesador</option>
                    <option value="Placa Madre">Placa Madre</option>
                    <option value="Tarjeta de Video">Tarjeta de Video</option>
                    <option value="Memoria RAM">Memoria RAM</option>
                  </select>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                  <label for="precio">Precio</label>
                  <input type="text" class="form-control" required th:field="*{Precio}" />
                </div>
              </div>
              <!--<div class="form-group row">
                <div class="col-sm-2">
                  <label for="dueDate">Caducidad</label>
                </div>
                <div class="col-sm-3">
                  <div class="input-group date">
                    <input type="text" class="form-control" id="dueDate" 
                      data-inputmask="'alias': 'datetime', 'inputFormat': 'dd/mm/yyyy'" 
                      autocomplete="off" th:field="*{dueDate}" />
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                  </div>
                </div>
              </div>-->
                <div class="form-group row">                 
                  <div class="col-md-8 mt-md-0 mt-3">
                    <label for="image" class="form-label">Imagen</label> 
                    <div class="card-img-actions">
                      <center><img class="img-responsive" alt="${producto.nombre}"  width="100%" height="200"
                        src=" ../../static/producto/${producto.image} "
                        th:src="@{'../../catalogo/'+${producto.image}}" /></center>
                    </div>
                    <input class="form-control" type="text" disabled th:field="*{image}" />                                   
                  </div>               
                </div>  
                <div class="form-group row">                 
                  <div class="col-md-10 mt-md-0 mt-3">
                    <label for="image" class="form-label">Cambiar imagen</label>               
                    <input value="image" id="image" type="file" autocomplete="off" class="form-control" th:field="*{image}">
                  </div>               
                </div>   
              <div class="form-group row">
                <div class="col-md-6 mt-md-0 mt-3">
                  <label for="status">Estado</label>
                  <select id="status" placeholder="status" autocomplete="off" class="form-control"
                    th:field="*{status}">
                    <option value="-">Ninguno</option>
                    <option value="A">Activo</option>
                    <option value="I">Inactivo</option>
                  </select>
                </div>
              </div>                        
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-md-6 mt-md-0 mt-3">
                  <button th:with="text='Editar Producto'" class="btn btn-warning" type="submit" th:text="${text}"/>
                </div>
              </div>
            </form>
            <p th:text="${mensaje}" />
          </div>
        </div>
      </div>
    
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
      <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    
  
      <script>
        $('.input-group.date').datepicker({
          autoclose: true,
          todayHighlight: true
        });
      </script>
      <script>
        $(":input").inputmask();
      </script>
</body>

</html>