<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CompuGanga</title>
  <link rel="stylesheet" href="/estilos/estilo.css">
  <!--<link th:rel="stylesheet" th:href="@{/estilos/estilo.css}">
  th:replace="~{fragments/layout :: layout (~{::body},'inicio')}"-->
</head>
<header>
			
  <nav class="navegacion">
    <ul class="menu">
      <li><a href="/">CompuGanga</a></li>
      <li><a href="/catalogo/index">Periféricos</a>
        <ul class="submenu">
          <li><a href="/Monitor/index">Monitor</a></li>
          <li><a href="/Teclado/index">Teclado</a></li>
          <li><a href="/Mouse/index">Mouse</a></li>
          <li><a href="/Auricular/index">Auriculares</a></li>
          <li><a href="/CPU/index">CPU</a></li>
        </ul></li>
      <li><a href="#">Componentes</a>
        <ul class="submenu">
          <li><a href="/Procesador/index">Procesador</a></li>
          <li><a href="/Tarjeta/index">Tarjeta de Video</a></li>
          <li><a href="/RAM/index">Memoria RAM</a></li>
          <li><a href="/Placa/index">Placa Madre</a></li>
        </ul>
      </li>
      <li><a href="/contacto/create">Contactanos</a></li>
      <li><a href="/cliente/create">Registrar</a></li>
      <li><a href="/usuario/login">Ingresar</a></li>
    </ul>
  </nav>

</header>
<body>
  <table border="0" width="83%">
    <tr>
      <td rowspan="2">
        <div class="slider">
          <ul>
            <li><img src="../images/slider1.jpg"></li>
            <li><img src="../images/slider2.jpg"></li>
            <li><img src="../images/slider3.jpg"></li>
            <li><img src="../images/slider4.jpg"></li>
            <li><img src="../images/slider5.jpg"></li>
            <li><img src="../images/slider6.jpg"></li>
          </ul>
        </div>	
      </td>
      <td class="image">
        <img src="../images/ofer1.jpg">
      </td>
    </tr>
    <tr>
      <td class="image">
        <img src="../images/ofer2.jpg">
      </td>	
    <tr>
  </table>
    <!--<img class="img-responsive" src="../static/images/imagen2.jpg" th:src="@{/images/imagen2.jpg}" width="100%" height="100%">
    <CEnter><div class="col-8">       
        <p>&nbsp;</p>       
      </div></CEnter>
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="p-3 mb-2 bg-info text-white">
            <center><p>Somos un grupo de jovenes universitarios que distribuyen y comercializan de las diferentes sucursales asociadas, 
               las distintas piezas de computadoras fabricados con la máxima calidad y garantía, ayudandote a conseguir los recursos que necesites.</p></center>
            </div>
        </div>
    </div>-->

</body>
</html>