<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruebas de cotrolador</title>
</head>
<body>
    <form th:object="${pago}" th:action="@{/pago/create}" method="post">
        <label for="montoTotal">Monto Total</label>          
        <input type="text" size="40" class="form-control" th:field="*{montoTotal}" readonly id="currency" data-thousands="," data-decimal="." />
        <div class="form-group row">
            <input type="hidden" th:field="*{clienteId}"/>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
              <label for="nombreTarjeta">Nombre</label>
            </div>
            <div class="col-md-6 mt-md-0 mt-3">
              <input type="text" class="form-control" th:field="*{nombreTarjeta}" readonly />
            </div>
          </div>
    </form>
</body>
</html>